
.page {
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-size:100%;
  font-weight: normal;
  min-width: 1280px;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
}
