
.photo-grid {
  max-width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 425px) and (max-width:767px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: 1fr;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
} 